<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-if</title>
</head>

<body>
    <main id="app">
        <h1>Frutas favoritas</h1>
        <!-- como menu -->
        <ul>
            <ol v-for="dato in datos">
                {{dato.id}} . {{dato.valor}}
            </ol>
        </ul>

        <br>
        <!-- como opcion -->
        <select name="" id="" v-model="datos.id">
            <option v-for="dato in datos" :value="dato.id">
                {{dato.valor}}
            </option>
        </select>

        <br>
        <!-- como input --> 
        <input type="text" :value="datos.id">

    </main>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                datos:[
                    {valor:'uvas',id:1},
                    {valor:'manzanas',id:2},
                    {valor:'sandias',id:3},
                    {valor:'mangos',id:4},
                ]
            }
        })
    </script>
</body>

</html>